.container {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 760px;
    max-height: 760px;
    width: 760px;
    height: 760px;
    border:solid;
}

.drawn {
    background: black;
}

.save {
    background-color: grey;
    width:80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    color:white;
}

.gridElement {
    border:solid red;
    
}